<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8 subpixel-antialiased">
    <div class="max-w-md w-full space-y-8">
      <div>
        <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
        <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
          Hello, Sign in to your account
        </h2>
        <p class="mt-2 text-center text-sm text-gray-600">
          Or
          <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500" [routerLink]="['../register']">
            Create an account with us
          </a>
        </p>
      </div>
      <div class="bg-white border border-gray-200 shadow-sm rounded-md pb-8 px-8">
        <form class="mt-8" [formGroup]="loginForm" (ngSubmit)="userLogin(loginForm)">
          <div class="rounded-md shadow-sm mt-6">
              <label for="email-address" class="font-semibold text-gray-600">Email address</label>
              <input id="email-address" name="email" type="email" autocomplete="email" class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" formControlName="email">
          </div>
          <div *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)" class="pt-1 text-sm text-red-600">
            <fa-icon [icon]="faTimes"></fa-icon> Please enter a valid email
          </div>
    
          <div class="rounded-md shadow-sm mt-6">
              <label for="password" class="font-semibold text-gray-600">Password</label>
              <input id="password" name="password" type="password" autocomplete="current-password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" formControlName="password">
              <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)" class="pt-1 text-sm text-red-600">
                <div *ngIf="loginForm.controls['password'].errors?.required">
                  <fa-icon [icon]="faTimes"></fa-icon> Please enter a valid password
                </div>
  
                <div *ngIf="loginForm.controls['password'].errors?.minlength">
                  <fa-icon [icon]="faTimes"></fa-icon> Password must be greater than 8 characters
                </div>
            </div>
          </div>
  
          <div class="flex items-center justify-between mt-6">
            <div class="flex items-center">
              <input id="remember-me" name="remember-me" type="checkbox" class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded" formControlName="remember">
              <label for="remember-me" class="ml-2 block text-sm text-gray-600 font-medium">
                Remember me
              </label>
            </div>
    
            <div class="text-sm">
              <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500 font-medium" [routerLink]="['../forgot-password']">
                Forgot your password?
              </a>
            </div>
          </div>
  
          <div class="mt-6">
            <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white" [disabled]="isUserSigningIn || loginForm.invalid" [ngClass]="{'bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500': !isUserSigningIn, 'bg-gray-400 hover:bg-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400': isUserSigningIn}">
              <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" *ngIf="!isUserSigningIn">
                  <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
                </svg>
                <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" *ngIf="isUserSigningIn">
                  <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                  <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
              </span>
              <span class="font-normal"><span *ngIf="!isUserSigningIn">Sign in</span><span *ngIf="isUserSigningIn">Logging in...</span></span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
